// Colors
$primary-color: #e84545;
$white: #fff;
$black: #333;
$font-color: #858a8f;
$nav-color: #d8d8dc;
$bg-slider: #53354a;
$bg-footer-top: #3a3e64;
$bg-footer-bottom: #313454;

// Typography
$font: "Raleway", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-third: "Cardo", serif;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$font-size: 1.4rem;
$nav-font-size: 1.3rem;
$h1-font-size: 6.5rem;
$h2-font-size: 4rem;
$h3-font-size: 2.8rem;
$h4-font-size: 2.2rem;
$h5-font-size: 1.4rem;

$line-height: $font-size * 1.6;